  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  html {
      font-size: 16px;
  }

  body {
      font-family: 'Outfit', sans-serif;
      background-color: hsl(217, 54%, 11%);
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .card {
      width: 18rem;
      background-color: hsl(216, 50%, 16%);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      box-shadow: 2px 5px 20px 10px rgba(25, 25, 27, 0.459);
      padding: 1.3rem;
  }




  /* .....image hover..... */

  .card-image {
      position: relative;
      width: 100%;
      max-width: 400px;
      max-height: 244px;
  }

  .card-img {
      width: 100%;
      height: auto;
      border-radius: 10px;
  }

  .icon {
      color: white;
      font-size: 100px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
  }

  .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .3s ease;
      background-color: hsla(178, 100%, 50%, 0.5);
      border-radius: 10px;

  }

  .overlay:hover {
      opacity: 1;
  }





  .text {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      color: hsl(215, 51%, 70%);
      font-size: 0.9rem;
  }

  .tittle {
      color: hsl(0, 0%, 100%);
      font-size: 1.1rem;
  }

  .text-description {
      line-height: 1.4rem;
  }

  .eth-container {
      font-weight: 600;
      color: hsl(178, 100%, 50%);
  }

  .days-details-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .left-details,
  .right-details {
      display: flex;
      align-items: center;
      gap: 0.4rem;

  }

  .line {
      opacity: 0.2;
      background-color: hsl(215, 32%, 27%);
  }

  .footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: hsl(215, 51%, 70%);
      font-size: 0.9rem;
  }

  .avatar {
      width: 2rem;
      border: 1px solid white;
      border-radius: 50px;
      margin-right: 12px;
  }

  .footer-details-text {
      font-weight: 400;
      color: hsl(0, 0%, 100%);
  }